@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #f8f9fd;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}
img {
    font-size: xx-small;
}

.container {
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
    overflow: hidden;
    width: 300px;
}
.title {
    margin: 0px;
}
.subtitle {
    display: inline-block;
    margin: 5px 0px 20px;
    opacity: 0.8;
}
.header {
    background-color: #3e57db;
    color: #fff;
    padding: 30px 20px;
}
.header input {
    background-color: rgba(0, 0, 0, .4);
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
    padding: 8px 15px;
    width: 100%;
}
.header input:focus {
    outline: none;
}
.user-lst {
    background-color: #fff;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    max-height: 400px;
    overflow-y: auto;
}
.user-lst::-webkit-scrollbar {
    width: 2vw;
    border-radius: 1px;
}
.user-lst::-webkit-scrollbar-button {
    height: 2vw;
    background-color: #c1c1c166;
    border-style: solid;
    border-radius: 5px;
}
.user-lst::-webkit-scrollbar-button:vertical:decrement {
    border-width: 0 1vw 2vw 1vw;
    border-color: transparent transparent #40404022 transparent;
}
.user-lst::-webkit-scrollbar-button:vertical:increment {
    border-width: 2vw 1vw 0 1vw;
    border-color: #40404022 transparent transparent transparent;
}
.user-lst::-webkit-scrollbar-button:hover {
    background-color: #c1c1c199;
}
.user-lst::-webkit-scrollbar-button:vertical:decrement:hover {
    border-width: 0 1vw 2vw 1vw;
    border-color: transparent transparent #40404055 transparent;
}
.user-lst::-webkit-scrollbar-button:vertical:increment:hover {
    border-width: 2vw 1vw 0 1vw;
    border-color: #40404055 transparent transparent transparent;
}
.user-lst::-webkit-scrollbar-thumb {
    background-color: #c1c1c188;
    border-radius: 5px;
}
.user-lst::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}
.user-lst::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #f1f1f188;
}
.user-lst::-webkit-scrollbar-track:hover {
    background-color: #e8e8e8;
}
.user-lst li {
    display: flex;
    padding: 20px;
}
.user-lst img {
    border-radius: 50%;
    object-fit: cover;
    width: 50px; height: 50px;
}
.user-lst .user-info {
    margin-left: 10px;
}
.user-lst .user-info h4{
    margin: 0 0 10px;
}
.user-lst .user-info p{
    font-size: 12px;
}
.user-lst li:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}
.user-lst li.hide {
    display: none;
}